db/chroma-collections.parquet
db/chroma-embeddings.parquet
db/index/id_to_uuid_c2a59a7f-ca0f-4a6a-a543-a06c29fdc1f1.pkl
db/index/index_c2a59a7f-ca0f-4a6a-a543-a06c29fdc1f1.bin
db/index/index_metadata_c2a59a7f-ca0f-4a6a-a543-a06c29fdc1f1.pkl
db/index/uuid_to_id_c2a59a7f-ca0f-4a6a-a543-a06c29fdc1f1.pkl
main/__pycache__/__init__.cpython-310.pyc
main/__pycache__/admin.cpython-310.pyc
main/__pycache__/apps.cpython-310.pyc
main/__pycache__/models.cpython-310.pyc
main/__pycache__/urls.cpython-310.pyc
main/__pycache__/views.cpython-310.pyc
